.gifs {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 1000px;
    margin: 10px 10px;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.gif img {
    max-width: 250px;
}